general:
  buildTool: "npm"
  chartPath: deploy/kyma/charts/sustainable-saas
service:
  buildToolVersion: "N18"
  stages:
    Build:
      credentialVariables:
        - name: "ValuesPrivateYaml"
          credentialId: "susaas-cicd-values-private-yaml"
      runFirst: 
        command: |
          # Disable debug mode (turn off echo for all commands and variables)
          set +x

          echo "$ValuesPrivateYaml" > ./deploy/kyma/charts/sustainable-saas/values-private.yaml 

          # Enable debug mode (echo commands and variables) again
          set -x
stages:
  Build:
    npmExecuteLint: false
  Additional Unit Tests:
    npmExecuteScripts: false
  Acceptance:
    kubernetesDeploy: false
  Compliance:
    sonarExecuteScan: false
  Release:
    kubernetesDeploy: true
    deploymentName: susaas-cicd
    kubeConfigFileCredentialsId: susaas-cicd-kube-config
    namespace: susaas-cicd
    helmValues:
      - ./deploy/kyma/charts/sustainable-saas/values.yaml 
      - ./deploy/kyma/charts/sustainable-saas/values-private.yaml 
steps:
  buildExecute:
    npmRunScripts: [ 'cds-build' ]  
    npmInstall: false
    cnbBuild: true
    helmExecute: false
  cnbBuild:
    containerRegistryUrl: docker.io
    dockerConfigJsonCredentialsId: susaas-cicd-docker-config
    multipleImages:
      - path: ./code/router
        containerImageName: martinfrick772/susaas-router
        containerImageAlias: martinfrick772/susaas_router
      - path: ./code/gen/srv
        containerImageName: martinfrick772/susaas-srv
        containerImageAlias: martinfrick772/susaas_srv
      - path: ./code/gen/api
        containerImageName: martinfrick772/susaas-api
        containerImageAlias: martinfrick772/susaas_api
      - path: ./code/broker
        containerImageName: martinfrick772/susaas-broker
        containerImageAlias: martinfrick772/susaas_broker
      - path: ./code/gen/db-com
        containerImageName: martinfrick772/susaas-db-com
        containerImageAlias: martinfrick772/susaas_db_com
      - path: ./code/app/html5-deployer
        containerImageName: martinfrick772/susaas-html5-deployer
        containerImageAlias: martinfrick772/susaas_html5_deployer
  kubernetesDeploy:
    deployTool: helm3
    additionalParameters:
      - "--create-namespace"
    valuesMapping:
      router.image.repository: image.martinfrick772/susaas_router.repository
      router.image.tag: image.martinfrick772/susaas_router.tag
      srv.image.repository: image.martinfrick772/susaas_srv.repository
      srv.image.tag: image.martinfrick772/susaas_srv.tag
      api.image.repository: image.martinfrick772/susaas_api.repository
      api.image.tag: image.martinfrick772/susaas_api.tag
      broker.image.repository: image.martinfrick772/susaas_broker.repository
      broker.image.tag: image.martinfrick772/susaas_broker.tag
      hana_deployer.image.repository: image.martinfrick772/susaas_db_com.repository
      hana_deployer.image.tag: image.martinfrick772/susaas_db_com.tag
      html5_apps_deployer.image.repository: image.martinfrick772/susaas_html5_deployer.repository
      html5_apps_deployer.image.tag: image.martinfrick772/susaas_html5_deployer.tag
