general:
  buildTool: "npm"
  chartPath: deploy/kyma/charts/sustainable-saas
service:
  buildToolVersion: "N18"
stages:
  Build:
    npmExecuteLint: false
  Additional Unit Tests:
    npmExecuteScripts: false
  Acceptance:
    kubernetesDeploy: false
  Compliance:
    sonarExecuteScan: false
  Release:
    kubernetesDeploy: true
    deploymentName: susaas-cicd
    kubeConfigFileCredentialsId: susaas-cicd-kube-config
    namespace: susaas-cicd
    helmValues:
      - ./deploy/kyma/sustainable-saas/release.yaml
steps:
  buildExecute:
    npmRunScripts: [ 'cds-build' ]  
    npmInstall: false
    cnbBuild: true
    helmExecute: false
  cnbBuild:
    containerRegistryUrl: https://index.docker.io/
    dockerConfigJsonCredentialsId: susaas-cicd-docker-config
    multipleImages:
      - path: ./code/router
        containerImageName: martinfrick772/susaas-router
      - path: ./code/gen/srv
        containerImageName: martinfrick772/susaas-srv
      - path: ./code/gen/api
        containerImageName: martinfrick772/susaas-api
      - path: ./code/broker
        containerImageName: martinfrick772/susaas-broker
      - path: ./code/gen/db-com
        containerImageName: martinfrick772/susaas-db-com
      - path: ./code/app/html5-deployer
        containerImageName: martinfrick772/susaas-html5-deployer
  kubernetesDeploy:
    valuesMapping:
      router.image.repository: martinfrick772/susaas-router
      router.image.tag: latest
      srv.image.repository: martinfrick772/susaas-srv
      srv.image.tag: latest
      api.image.repository: martinfrick772/susaas-api
      api.image.tag: latest
      broker.image.repository: martinfrick772/susaas-broker
      broker.image.tag: latest
      hana_deployer.image.repository: martinfrick772/susaas-db-com
      hana_deployer.image.tag: latest
      html5_apps_deployer.image.repository: martinfrick772/susaas-html5-deployer
      html5_apps_deployer.image.tag: latest